@import url(./components/Skeleton/style.scss);
$color-primary: #11b980;
$gray-color: #e2e2e2;
@mixin flex-spase-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1840px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #07483f;
  
  a {
    text-decoration: none;
    color:#ffffff !important;
  }
   header {
    width: 1440px;
    height: 2rem;
    margin: 0 auto;
    background-color: #17684d;
  }
  .App {
    max-width: 1024px;
    height: auto;
    background-color: #07483f;
    margin: 0 auto;
     
    
    footer {
      user-select: none;
      margin: 3.7rem 0;
      text-align: center;
      div {
        font-size:  1.1rem;
        a {
          cursor: pointer;
          user-select: none;
          margin: 0 0.7rem;
          color:blue;
        }
        .isDisabled {
          color: currentColor;
          cursor: not-allowed;
          opacity: 0.5;
          text-decoration: none;
          margin: 0.7rem;
        }
       
      }
      p {
        margin-top: 0.9rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.2rem ;
        color: #989898;
      }
    }
  }}